QPushButton {
    border: 0px;
    background-color: transparent;   
}

QPushButton:hover {
    background-color: rgba(0, 0, 225, 0.1);
}

QPushButton:pressed {
    background-color: rgba(0, 0, 255, 0.3);
}

QPushButton:checked {
    background-color: rgba(0, 0, 255, 0.3);
}

QPushButton:flat {
    border: none; /* no border for a flat push button */
}

QPushButton:default {
    border-color: navy; /* make the default button prominent */
}
